<div class="container">
  <div class="row mt-5">
    <div class="col-md-6 m-auto">
      <table class="table table-bordered">
        <thead>
          <tr>
            <th scope="col">Food</th>
            <th scope="col">Details</th>
            <th scope="col">Calories</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td #name> {{foodTracker.name}} </td>
            <td #details> {{foodTracker.details}} </td>
            <td #calories> {{foodTracker.calories}} </td>
            <td> <button type="submit" (click)="edit(name, details, calories)"
                class="btn btn-warning btn-block">EDIT</button> </td>
            <td> <button type="submit" (click)="goalDelete(true)" class="btn btn-danger btn-block">DELETE</button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>



<!-- <p *ngIf='foodTracker.calories > 200'> MORE THAN 500 CALORIES</p> -->
