<div class="container">
  <div class="row mt-5">
    <div class="col-md-6 m-auto">
      <table class="table table-bordered">
        <thead>
          <tr>
            <th scope="col">Food</th>
            <th scope="col">Details</th>
            <th scope="col">Calories</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td> {{foodTracker.name}} </td>
            <td> {{foodTracker.details}} </td>
            <td> {{foodTracker.calories}} </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
